<%- include("../partials/header") %>

<%- include("../partials/navbar") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">BerberBul</p>
      <div class="list-group">
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 2 </li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail" >
        <img class="img-responsive" src="<%=berber.image %>" >
        <div class="caption">
          <h4 class=pull-right>10 ₺</h4>
          <h4><a><%= berber.name %></a></h4>
          <p style="color:white;"> <%= berber.description %> </p>
        </div>
        <div class="well">
          <div class="text-right" style="margin-bottom : 5px;">
            <a class="btn btn-success" href="/berberler/<%=berber._id%>/comments/new">Yeni Yorum Ekle</a>
          </div>
          <% berber.comments.forEach(function(comment){ %>
            <div class="row" style="border-top: 1px gray solid;">
              <div class="col-md-12">
                <strong>
                  <%= comment.author %>
                </strong>
                <span class="pull-right">10 gün önce</span>
                <p >
                  <%= comment.text %>
                </p>
              </div>
            </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
